<section class="container">
		<!--<div class="counter" style="float:right;text-align:right;opacity:0.8;">
		<span style="margin-right:10px;">Page Views: </span><a href="http://www.reliablecounter.com" target="_blank"><img src="http://www.reliablecounter.com/count.php?page=calc.bugs3.com/&digit=style/plain/7/&reloads=0" alt="www.reliablecounter.com" title="www.reliablecounter.com" border="0"></a><br /><a href="http://www.analogmix.com" target="_blank" style="font-family: Geneva, Arial; font-size: 9px; color: #330010; text-decoration: none;">Click here</a>
	</div>-->
</section>