	<div class="sub_nav">
		<div class="container">
			<ul class="sub_menu">
				<li data-link="bug">Bug Report</li>
				<li data-link="suggest">Suggestion</li>
				<li data-link="credit">Contributors</li>
				<li data-link="status">Status</li>
				<li data-link="about">About</li>
			</ul>
		</div>
	</div>
		
	<section class="container sub_nav_items">
		<ul class="items">
			<li class="item" data-bind="bug">
				<form action="<?php echo base_url('calculator/mail/BugReport'); ?>" method="POST">
					<table>
						<tr>
							<td>Name</td> <td><input type="text" name="name" required/><br></td>
						</tr>
						<tr>
							<td>Email</td> <td><input type="text" name="email" required/><br></td>
						</tr>
						<tr>
							<td>Device</td>
							<td>
								<ul class="select-box" alt="device">
									<li class="active"><span>select</span> <em></em></li>
									<ul class="menu">
										<li value="">Mobile</li>
										<li value="">Computer</li>
									</ul>
								</ul>
								<input name="type" type="hidden">
							</td>
						</tr>
						<tr>
							<td>Type</td> <td>
								<ul class="select-box" alt="type">
									<li class="active"><span>select</span> <em></em></li>
									<ul class="menu">
										<li value="">--</li>
									</ul>
								</ul>
								<input name="platform" type="hidden">
							</td>
						</tr>
						<tr>
							<td>Browser</td> <td>
								<ul class="select-box" alt="browser">
									<li class="active"><span>select</span> <em></em></li>
									<ul class="menu">
										<li value="">--</li>
									</ul>
								</ul>
								<input name="browser" type="hidden">
							</td>
						</tr>
						<tr>
							<td>Bug</td> <td><textarea name="message" id="bug_report" required></textarea></td>
						</tr>
						<tr>
							<td>
								<span>What is <span class="no1"></span> plus <span class="no2"></span>?</span>
							</td>
							<td>
								<input type="text" name="answer" class="answer" title="Please answer the question to prove you are human" placeholder="your answer" required>
							</td>
						</tr>
						<tr>
							<td></td><td><input type="submit" value="Submit" /><input type="button" value="Cancel" /></td>
						</tr>
					</table>
				</form>
			</li>
			<li class="item" data-bind="suggest">
				<form action="<?php echo base_url('calculator/mail/Suggestion'); ?>" method="POST">
					<table>
						<tr>
							<td>Name</td> <td><input type="text" name="name" required/><br></td>
						</tr>
						<tr>
							<td>Email</td> <td><input type="text" name="email" required/><br></td>
						</tr>
						<tr>
							<td>Suggestion</td> <td><textarea name="message" id="bug_report" required></textarea></td>
						</tr>
						<tr>
							<td>
								<span>What is <span class="no1"></span> plus <span class="no2"></span>?</span>
							</td>
							<td>
								<input type="text" name="answer" class="answer" title="Please answer the question to prove you are human" placeholder="your answer" required>
							</td>
						</tr>
						<tr>
							<td></td><td><input type="submit" value="Submit" /><input type="button" value="Cancel" /></td>
						</tr>
					</table>
				</form>
			</li>
			<li class="item" data-bind="credit">
				<ul class="credits">
					<li>
						<table>
							<tr>
								<th>Name</th>
								<th>Contribution</th>
							</tr>
							<tr>
								<td><a class="clickable" href="https://www.facebook.com/sanjay429">Sanjay Mundhra</a></td>
								<td>
									<ul>
										<li>created script which converts string
											<code>
												4+5(8*9(4+1)8)+7
											</code>
											to array
											<code>
												["4+5", "*", "8*9(4+1)8", "+", "7"]
											</code>
											for BODMAS calculation
										</li>
									</ul>
								</td>
							</tr>
						</table>
					</li>
				</ul>
			</li>
			<li class="item" data-bind="status">
				<ul class="credits calc-status">
					<li>
						<table>
							<tr>
								<th>Name</th>
								<th>Description</th>
							</tr>
							<tr>
								<td>Responsive Menu Bar</td>
								<td>
									Menu Bar Compatible for smaller sized device is under construction
								</td>
							</tr>
							<tr>
								<td>Brackets in BODMAS</td>
								<td>
									Calculation with BODMAS rule with Brackets is under construction
								</td>
							</tr>
							<tr>
								<td>Captcha</td>
								<td>
									A mendatory field to be filled in Bug Report and Suggestion form to confirm you are human is under construction
								</td>
							</tr>
						</table>
					</li>
				</ul>
			</li>
			<li class="item" data-bind="about">
				<ul class="credits calc-status">
					<li style="text-align:center; padding-top:25px; padding-bottom:15px;">
						Created by Divya Sharma <br>
						Open Source, Non Commercial self practice project<br><br>
						I am a Proffessional Web Developer and this project has<br>
						challenged my programming limits. I intend to continue <br>
						working on it till i get enough time from Life and Job.
					</li>
					<li>
						<span class="mute">Techonologies Used: <a href="http://www.w3schools.com/html/default.asp">HTML</a>, <a href="http://www.w3schools.com/css/default.asp">CSS</a>, <a href="http://www.w3schools.com/bootstrap/default.asp">Twitter Bootstrap</a>, <a href="http://www.w3schools.com/angular/default.asp">AngularJS</a>, <a href="http://www.w3schools.com/js/default.asp">JavaScript</a>, <a href="http://www.w3schools.com/jquery/default.asp">jQuery</a>, <a href="http://www.w3schools.com/php/default.asp">PHP</a></span>
					</li>
				</ul>
			</li>
		</ul>
	</section>