<!DOCTYPE html>
<html>
	<head lang="en">
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Simple Calculator built for practice by a Web Developer">
		<title>Calculator</title>
		<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="resources/css/bootstrap-responsive.css" />
		<link rel="stylesheet" type="text/css" href="resources/css/style.css" />
		<script src="<?php echo base_url("resources/js/jquery-2.1.3.min.js") ?>"></script>
		<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<script src="<?php echo base_url("resources/js/angular.min.js"); ?>"</script>

	</head>
	<body>
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=957521494280906";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>

		<div class="bar">
			<?php // echo phpinfo(); ?>
			<div class="container">
				<div class="left">
					<span class="title">Simple Calculator</span>
				</div>
				<div class="right">
					<a class="developer_link" href="https://www.facebook.com/iDiva.Sharma">Divya Sharma</a>
				</div>
				<br class="clear" />
			</div>
		</div>
		<?php if(isset($_GET['mail'])): ?>
		<div class="confirmation">Thank you for your mail.<br/>Have sent you a confirmation mail please check your inbox/spam folder.</div>
		<?php endif; ?> 