<section class="container calc_section">
	<div class="row">
		<div class="col-lg-5 col-sm-7">
			<div class="row">
				<div class="main" ng-app="divya" ng-controller="rocks">
					<div class="records col-lg-5 col-sm-5 nopadding">
						<ul>
							<li>
								<span class="clean" ng-click="cleanHist()" ng-hide="records == ''" ng-bind="'clean history'"></span>
								<a ng-repeat="rec in records" ng-click="reCalc(rec.formulae + '&' + rec.type)" ng-class="{'bod': rec.type != ''}"><span class="text" ng-bind="'{{rec.formulae}}'"></span><span class="ans"> = {{rec.answer}}</span><span class="type" ng-bind="'{{rec.type}}'" ng-hide="rec.type == ''"></span></a><br/>
							</li>
						</ul>
					</div>
					<div class="col-lg-5 col-sm-7 nopadding">
						<div class="calc-frame">
							<span ng-bind="'version: 1.2'" class="version"></span>
							<input type="text" id="screen" ng-bind="'0'" class="input" ng-keyup="$event.keyCode == 13 ? answer() : null" ng-model="setText">
							<div class="buttons">
								<div class="clearRow">
									<button class="{{class}}" ng-bind="'bodmas'" ng-click='bodTog()'></button>
									<button class="reset" ng-bind="'&larr;'" ng-click='clear()'></button>
									<button class="reset" ng-bind="'clr'" ng-click='clearAll()'></button>
								</div>
								<div class="numbers">
									<div class="cal-btn">
										<button ng-repeat="diva in points" ng-click="showText(diva)" ng-bind="{{diva}}"></button>
										<button ng-bind="'.'" ng-click="showText('.')"></button><button ng-bind="'0'" ng-click="showText('0')"></button><button ng-bind="'='" ng-click='answer()'></button>
									</div>
								</div>
								<div class="action">
									<button value="diva" ng-repeat="diva in calculate" ng-click="calc(diva)" ng-bind="'{{diva}}'"></button>
								</div>
								<br class="clear" />
							</div>
						</div>
						<br class="clear">
					</div>
				</div>
			</div>
		</div>