	<div class="col-lg-5 col-sm-5">
		<div class="info">
			<h1>Change Log</h1>
			<div class="row">
				<div class="list col-md-4 col-sm-4 col-xs-4 nopadding">
					<a href="#" data-ver="1.2" class="heading active">Version 1.2</a>
					<a href="#" data-ver="1.1" class="heading">Version 1.1</a>
					<a href="#" data-ver="1.0" class="heading">Version 1.0</a>
				</div>
				<div class="details col-md-8 col-sm-8 col-xs-8 nopadding">
					<ul data-log="1.2" class="log" style="display:block;">
						<li>Bug Fixes and Improvements</li>
						<li>Responsive Design</li>
						<li>BODMAS Calculation</li>
						<li>Now only single decimal permitted in a number</li>
						<li>Calculation History</li>
						<li>Backspace Button</li>
						<li>Removed Facebook Comment. Now you can directly Report Bug or Give Suggestions from Menu.</li>
						<li>On reporting bug you will get a confirmation mail back. So, make sure you enter correct mail id</li>
					</ul>
					<ul data-log="1.1" class="log">
						<li>New Look</li>
						<li>Bug Fixes and Improvements</li>
					</ul>
					<ul data-log="1.0" class="log">
						<li>Now you can type directly from keybord and hit enter</li>
						<li>Displays 0 by default</li>
						<li>Added decimal button</li>
						<li>Redisigned the look</li>
						<li>Shows full formulae to be calculated in display</li>
					</ul>
				</div>
			</ul>
		</div>
	</div>
</section>