<div class="container">
		<ul class="credits">
			<li>Started By: <a class="clickable" href="https://www.facebook.com/ali.salman.12576">Ali Salman</a> click <a class="clickable" href="http://calc.bugs3.com/old/">Here</a> to check his version</li>
			<li>Continued By: <a class="clickable" href="https://www.facebook.com/iDiva.Sharma">Divya Sharma</a></li>
		</ul>
	<h3>Languages Used: HTML, CSS, AngularJS, JavaScript, jQuery</h3>
</div>