.wrapper{
	width: 100%;
	margin: auto;
}
.wrapper h3{
	margin-left: 10%;
}
.container{
	width: 100%;
	margin-left:3%;

}
.info{
	width: 92% ;
	margin: 3%;
	margin-right: 3%;

}
.counter{
	margin-right: 4%;
}
