body, html {margin:0px; padding:0px;}
body{background: #C4E5E3;}

.left {float:left;}
.right {float:right;}
.bar {background: rgba(0, 0, 0, 0.4);color: #fff;padding: 10px;}
.mute {font-size: 10pt; color: #BBBBAE;}
.mute a{font-style: normal; text-transform: uppercase; font-size: 9pt; color: #fff; font-style: none; text-decoration: none;}
.nopadding {padding:0px;}
.developer_link{color: #fff; text-transform: uppercase; background: rgba(0, 0, 0, 0.28); padding: 12px 5px;}
.developer_link:hover{background: rgba(0, 0, 0, 0.6); text-decoration: none; color:#fff;}
.confirmation {width: 60%; position: absolute; background: #fff; top: 80px; left: 50%; margin-left: -31%; border-radius: 5px; box-sizing: border-box; padding: 0px 10px; text-align: center; color: green; border: 1px solid green;}

p {font-size: 25px;}
button {outline:none;}
code{display: block; background: #aaa; padding: 5px; color: #444; }

.main {}
.clickable {color: #555;text-decoration: none;background: #fff;padding: 2px 5px;border-radius: 3px;border: 1px dashed #999;}
.clickable:hover {border:1px solid #999;}
.info {background: #43474F;}
.info h1{margin: 0px;color: #8AA6A9;text-transform: uppercase;font-size: 11pt;padding: 5px;font-family: arial;background: #232323;}
.info ul{margin: 0px;padding: 0px;}
.info ul:after{}
.info ul li{margin:0px; padding:0px;}
.info .row {width:100%; margin:0px;}
.info .row div{padding:0px;}
.info .row .list{list-style: none; display: block; list-style: none;}
.info .row .list a.heading{padding-left: 10px;font-size: 10pt;text-transform: uppercase;color: #A2AABB;display: block;padding: 8px 10px;text-decoration: none;}
.info .row .list a.heading.active{background: #585961;color: #fff;}
.info .row .details{background: rgb(88, 89, 97);padding: 5px; list-style:none; color: #D2D2D2;}
.info .row .details .log {min-height: 160px;padding-bottom: 20px; display:none; padding-left: 30px; position:relative;}
.info .row .details .log a.view{position: absolute;color: #B6B6B6;text-decoration: none; bottom:5px; right: 10px;}
.info .row .details .log a.view:hover{color: #fff;}
.border {border: 1px solid #ccc; width: 206px; height: 60px; background: black;}
.buttons {padding: 2px;margin-top: 10px;background: #2F323A;box-shadow: 0px 0px 5px rgba(249, 249, 252, 0.3);}
.clear {clear:both;}
.download {background: rgb(148, 148, 148);color: #fff;padding: 8px 10px;text-decoration: none;border-radius: 5px;margin-top: 50px;display: inline-block;margin-left: 40px;}
.input#screen {background: rgb(37, 37, 37);border: 1px solid rgb(134, 134, 134);color: lime;font-family: "Courier New";padding: 0 10px;text-align: right;font-size: 15px;height: 40px;width: 100%;box-sizing: border-box; outline:none;}
.calc-frame {float:left;background: #2B2D31;width: 261px;padding: 10px;border-radius: 0px;border: 3px solid rgb(105, 105, 105);}
.main .records{height:337px; background: rgba(12, 29, 147, 0.14); border: 1px solid #8B8E8E; border-right: 0px; display: none; padding-top: 10px;}
.main .records .clean{background: #333; color: #fff; padding: 1px 5px; position: absolute; top: -9px; right: 3px; font-size: 8pt; text-transform: uppercase; border-radius: 3px; cursor: pointer; }
.main .records ul {padding: 0px; margin: 0px; list-style: none; }
.main .records ul li a {background: #FFFFFF; display: inline-block; margin: 5px; padding: 3px 5px; border-radius: 4px; position: relative; border: 1px dashed #454545; color: #777; text-decoration: none; min-width: 100px; cursor:pointer;}
.main .records ul li a:hover {color: #222;}
.main .records ul li a.bod {padding-top:8px;}
.main .records ul li{content:''; display:block; clear:both;}
.main .records ul li a span.text{display:block; float:left;}
.main .records ul li a span.type{display: block; font-size: 6pt; text-transform: uppercase; letter-spacing: 1px; border: 1px dotted green; padding: 1px 3px; color: green; background: #fff; position: absolute; top: -6px; right: 50%; margin-right: -24px; border-radius: 4px; }
.main .nopadding:last-child {margin-left: 210px;}
.calc-frame .version {text-transform: uppercase;font-size: 10pt;display: block;margin-top: -5px;color: #B5B5B5;margin-bottom: 3px;}

.buttons .numbers{float: left;width: 171px;height: 204px;text-align: center;background: #2F323A;padding-top: 5px;}
.buttons .numbers button{font-size: 20pt;height: 40px;width: 40px;text-align: center;margin: 5px 8px;border: 0px;cursor: pointer;background: rgba(88, 89, 97, 1);color: #fff;}

.buttons .numbers .cal-btn button {max-width: 44px;}
.buttons .action button:hover, .buttons .clearRow button.reset:hover {background: rgb(24, 24, 24);}
.buttons .numbers button:hover {background: rgb(81, 81, 81)}
.buttons .action{float: left;width: 60px;height: 204px;text-align: center;background: #2A2C30;padding-top: 5px;}
.buttons .action button {font-size: 20pt;width: 40px;height: 40px;line-height: 40px;margin: 5px 0px;cursor: pointer;background: rgba(35, 35, 35, 1);color: #fff;border: 2px solid #353535;}
.buttons .action button:last-child {background: rgb(12, 82, 12);border: green;}
.buttons .action button:last-child:hover {background: rgb(20, 119, 20);}

.buttons .clearRow{text-align: right;background: #2A2C30;padding-right: 10px;border-bottom: 1px solid #363A42;}
.buttons .clearRow button.reset {font-size: 10pt; width: 40px; height: 25px; line-height: 25px; margin: 5px 0px; cursor: pointer; text-transform: uppercase; background: rgba(71, 70, 70, 1); color: #fff; border: 0px; }
.buttons .clearRow button.toggle {font-size: 10pt; font-weight: bold; height: 25px; line-height: 25px; margin: 5px 0px; cursor: pointer; text-transform: uppercase; background: rgba(97, 97, 97, 1); color: #BBBBBB; border: 0px; padding: 1px 5px;  letter-spacing: 2px;}
.buttons .clearRow button.toggle:hover {background: rgb(163, 163, 163); color: #444;}
.buttons .clearRow button.toggle.active {background: rgba(50, 89, 55, 1); color: #D3C7C7; }
.buttons .clearRow button.toggle.active:hover {background: rgba(49, 105, 45, 1); color: #D3C7C7;}

.wrapper.comment-div {background: rgba(194, 211, 218, 0.86); margin-top: 70px; padding: 5px; box-shadow: inset 0px 0px 10px 2px rgba(255, 255, 255, 0.5); }
section.calc_section {margin-top: 50px; }

.sub_nav {background: rgba(0, 0, 0, 0.24);}
.sub_nav .sub_menu {padding: 6px 0px; margin:0px;}
.sub_nav .sub_menu:after {content:""; display:block; clear:both;}
.sub_nav .sub_menu li {  list-style: none;float: left;margin-right: 10px;padding: 4px 10px 1px; text-transform: uppercase;font-size: 10pt; cursor:pointer; border: 1px dashed #fff;background: #545454;color: #fff;}
.sub_nav .sub_menu li:hover, .sub_nav .sub_menu li.active {background: #fff;border: 1px dashed #000; color:#000;}
.sub_nav_items {position: relative;}
.sub_nav_items ul.items { background: #333;margin: 0px;padding: 0px;position: absolute;top: 0px;width: 76%;z-index: 1;}
.sub_nav_items ul.items li.item {list-style: none; padding:10px; color:#bbb;  border-top: 2px solid #fff; display:none; border-bottom: 2px solid #fff;}
.sub_nav_items ul.items li.item:last-child {padding-bottom: 0px;}
.sub_nav_items ul.items li.item table{width:100%;}
.sub_nav_items ul.items li.item td{border-bottom: 1px solid #555;padding:5px;}
.sub_nav_items ul.items li.item td input[type="text"], .sub_nav_items ul li td select, .sub_nav_items ul li td textarea{width:80%; border: 0px; padding:3px; border-radius: 3px;}
.sub_nav_items ul.items li.item td textarea {resize: none; height:60px;}
.sub_nav_items ul.items li.item td select{ padding: 1px;width: 81%; padding: 3px;}
.sub_nav_items ul.items li.item tr td:last-child{text-align: center; min-width: 50%;}
.sub_nav_items ul.items li.item tr:last-child td{border:0px;}
.sub_nav_items ul.items li.item tr:last-child td input[type="button"], .sub_nav_items ul li tr:last-child td input[type="submit"]{margin-right:20px; cursor:pointer;color: #fff;padding: 5px 20px;border: 0px;border-radius: 5px;text-transform: uppercase;font-size: 9pt;}
.sub_nav_items ul.items li.item tr:last-child td input[type="button"] { background-color: rgb(201, 2, 2);}
.sub_nav_items ul.items li.item tr:last-child td input[type="submit"] { background: rgb(12, 82, 12); border: 1px solid #2A691F;}
.sub_nav_items ul.items li.item tr:last-child td input[type="button"]:hover {background: rgb(227, 12, 12);}
.sub_nav_items ul.items li.item tr:last-child td input[type="submit"]:hover {background: rgb(10, 134, 10);}
.sub_nav_items ul.items li.item .credits, .sub_nav_items ul.items li.item .credits ul{padding: 0px; margin: 0px; list-style: none;}
.sub_nav_items ul.items li.item .credits {text-align: left;}
.sub_nav_items ul.items li.item .credits table td,.sub_nav_items ul.items li.item .credits table th {border-bottom: 1px solid #fff;}
.sub_nav_items ul.items li.item .credits table td:last-child {width:75%;background: #4A4A4A;}
.sub_nav_items ul.items li.item .credits table td:last-child ul{padding-left:20px; list-style: initial;}
.sub_nav_items ul.items li.item .credits li{margin-bottom:10px; text-align: left;}
.sub_nav_items ul.items li.item .credits li em{color: rgba(207, 139, 139, 1); font-style: normal;}
.sub_nav_items ul.items li.item .calc-status .mute{margin-top: 30px; display: block;}

.select-box {background: rgba(255, 255, 255, 0.78); display: block; margin: 0px; padding: 0px; list-style: none; color: #747474; width: 81%; margin: auto; border-radius: 3px; text-align: left; text-transform: uppercase; font-size: 10pt; position: relative;} .select-box li.active { padding:4px; }
.select-box li.active {cursor:pointer;}
.select-box li.active {padding: 4px;}
.select-box li.active em { display: inline-block; width: 26px; height: 26px; background: rgb(43, 161, 245) url("../images/triangle.png") no-repeat; float: right; margin-top: -4px; margin-right: -4px; border-bottom-right-radius: 3px; border-top-right-radius: 3px; background-position: 6px 7px;}
.select-box ul.menu {display: none; margin: 0px; padding: 0px; list-style: none; cursor:pointer; position:absolute; background:#fff; width:100%; z-index: 1;}
.select-box ul.menu li{padding: 4px; background: #ABABAB; border-top: 2px solid rgba(93, 127, 189, 1); color: #fff;}
.select-box ul.menu li:last-child{border-bottom: 2px solid rgba(93, 127, 189, 1);}

.select-box ul.menu li:hover{background: #fff; color: #000;}
@media screen and (min-width: 1200px) {
	section.calc_section .row{margin-left: 0px; }
}

@media screen and (max-width: 992px) {
	.main .nopadding:last-child{margin-left:180px;}
}

@media screen and (max-width: 780px) {
    .main .records {
        float: none;
		height: 200px;
		width: 261px;
		border: 1px solid #8B8E8E;
		border-bottom: 0px; 
		margin:auto;
    }
    .calc-frame {
    	float:none;
    	margin:auto;
    }
	.main .nopadding:last-child{margin:auto;}
	.sub_nav_items ul.items {width:96%;}
}

@media screen and (max-width: 525px) {
	.sub_nav_items ul.items li.item td {
		display: block;
	}
	.sub_nav_items ul.items li.item td input[type="text"], .sub_nav_items ul li td select, .sub_nav_items ul li td textarea {
		width:100%;
	}
	.sub_nav_items .items tr td:first-child {margin-top:10px;}
	.sub_nav_items .items tr:first-child td:first-child {margin:0px;}
	.sub_nav_items .items .select-box {width:100%;}
	.sub_nav_items ul.items li.item .credits table td, .sub_nav_items ul.items li.item .credits table th {
		display: block;
		width:100%;
	}
	.sub_nav_items ul.items li.item .credits table td:last-child,
	.sub_nav_items ul.items li.item .credits table th:last-child {
		width: 100%;
		background: #4A4A4A;
	}
}